services:
  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    container_name: ollama
  mysql:
    image: mysql:oraclelinux9
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: girassol